/*
 * @font-face {
    font-family: "Source Code Pro";
    src: url("Fonts/Source_Code_Pro/SourceCodePro-Regular.ttf") format("truetype");
    font-weight:normal;
    font-style: normal; }
@font-face {
    font-family: "Source Code Pro";
    src: url("Fonts/Source_Code_Pro/SourceCodePro-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal; }
*/

/* For whatever reason, Google's webfont version is completely
 * different from the local version. Both from google itself and
 * fontsquirrel
@font-face {
    font-family "Montserrat";
    src: url("Fonts/g-montserrat/Montserrat-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: sans-serif; }
*/

.definition { /*font-family: et-book-roman-old-style; */
              color: rgb(0,0,100);
              font-variant: small-caps;
              float: left;
              clear: left;
              margin-left: -27%;
              width: 20%;
              margin-top:0;
              margin-bottom: 0;
              font-size: 1.3rem;
              line-height 1.3;
              vertical-align: baseline;
              position: relative; }


.section { /*font-family: et-book-roman-old-style; */
              color: rgb(0,0,100);
              font-variant: small-caps;
              text-transform: lowercase;
              line-height: 1em;
              font-weight: bold;
              float: left;
              clear: left;
              margin-left: -22%;
              width: 16%;
              margin-top:0;
              margin-bottom: 0;
              font-size: 1.3rem;
              line-height 1.3;
              vertical-align: baseline;
              text-align: right;
              position: relative; }
hr {
    width: 60%; 
    max-width: 1400px;
    margin-left:0}

.function-name { color: darkcyan;}

.filename { color: darkolivegreen; }

snip,
.pollen-meta {
    font-weight: bold;
    font-family: 'Source Code Pro', monospace;}


a:hover {
    background: #fbf3f3;
    border-radius: 8px;
    
        -moz-transition-property: background;
        -webkit-transition-property: background;
        transition-property: background;
        -moz-transition-duration: 0.2s;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
}

/* all of this is to just tell links to stop being special little shits */
/* butterick applies the same, but globally (applied to *)
/* i'm not _that_ interested in styling this shit
*/
a {
    
        -moz-transition-property: background;
        -webkit-transition-property: background;
        transition-property: background;
        -moz-transition-duration: 0.2s;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
    text-decoration:inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: inherit;
    text-decoration: inherit;
    color: #933;
}

a.extlink:after {
    /* no space, then degree-symbol */
    content: "\FEFF \00B0";
    margin-left: 0.10em;
    font-size: 90%;
    top: -0.10em;
    color: #933;
}
