.definition { /*font-family: et-book-roman-old-style; */
              color: rgb(0,0,100);
              font-variant: small-caps;
              float: left;
              clear: left;
              margin-left: -27%;
              width: 20%;
              margin-top:0;
              margin-bottom: 0;
              font-size: 1.3rem;
              line-height 1.3;
              vertical-align: baseline;
              position: relative; }

.function-name { font-variant: small-caps;
                 font-size: 1.7rem;
                 color: darkcyan;}

.filename {     color: brown; }

.pollen-meta {
    font-weight: bold;
    font-family: 'Source Code Pro', monospace;}




a:hover {
    background: #fbf3f3;
    border-radius: 8px;

    -moz-transition-property: background;
    -webkit-transition-property: background;
    transition-property: background;
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

a {
    -moz-transition-property: background;
    -webkit-transition-property: background;
    transition-property: background;
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

a.extlink:after {
    content: "\FEFF °";
    margin-left: 0.10em;
    font-size: 90%;
    top: -0.10em;
    color: #933;
}
